<section>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title i18n="Sign in page| Page title">
                Sign in
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="form-field">
                <mat-label i18n="Sign in page| Label login field">
                    Username or email
                </mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label i18n="Sign in page| Label password field">
                    Password
                </mat-label>
                <input matInput type="password">
            </mat-form-field>
            <mat-checkbox class="checkbox-margin">Remember me</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" i18n="Sign in page| Label forget password button redirection">
                Forgot your password?
            </button>
            <button mat-raised-button color="primary" i18n="Sign in page| Label sign in button redirection">
                Sign in
            </button>
            <button mat-button color="primary" i18n="Sign in page| Label register now button redirection">
                Don't have an account yet? Register
                now
            </button>
        </mat-card-actions>
    </mat-card>
</section>