<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="form-field">
            <mat-label>Identifiant</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Inscription</button>
        <button mat-button color="primary">Mot de passe perdu ?</button>
        <button mat-button>Connexion</button>
    </mat-card-actions>
</mat-card>