<a mat-list-item routerLink="docs/presentation" i18n="site navigation|Link to the docs presentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Présentation</a>
<mat-divider></mat-divider>
<a mat-list-item routerLink="docs/start" i18n="site navigation|Link to the getting started page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Getting
    started</a>
<a mat-list-item routerLink="docs/pwa" i18n="site navigation|Link to the progressive web app documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Progressive Web App</a>
<a mat-list-item routerLink="docs/ssr" i18n="site navigation|Link to the server side rendering documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Server Side Rendering</a>
<a mat-list-item routerLink="docs/seo" i18n="site navigation|Link to the search engine optimization documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Search Engine Optimization</a>

<a mat-list-item routerLink="docs/i18n" i18n="site navigation|Link to the internationalization documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Internationalization</a>


<a mat-list-item routerLink="docs/a11y" i18n="site navigation|Link to the accessibility documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Accessibility</a>

<a mat-list-item routerLink="docs/offline-sync"
    i18n="site navigation|Link to the Offline synchronization documentation page" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:
          true}">Offline synchronization</a>


<a mat-list-item routerLink="docs/responsive-design"
    i18n="site navigation|Link to the Responsive design documentation page" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:
          true}">Responsive design</a>

<a mat-list-item routerLink="docs/dark-mode" i18n="site navigation|Link to the Dark mode documentation page"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Dark mode</a>