<section>
    <form [formGroup]="newPasswordForm" (ngSubmit)="submitForm()">

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title i18n="Forgot your password| Page title">
                    Reset password
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <mat-label i18n="Forgot your password| Label email field">
                        Email
                    </mat-label>
                    <input matInput formControlName="email" type="email">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" i18n="Forgot your password| Label Reset password button">
                    Reset password
                </button>
                <button mat-button color="primary" routerLink="/sign_in"
                    i18n="Forgot your password| Label for the Sign In button redirection">
                    Already have login and password? Sign in
                </button>
            </mat-card-actions>
        </mat-card>

    </form>
</section>