<section>
    <form [formGroup]="signInForm" (ngSubmit)="submitForm()">

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title i18n="Sign in page| Page title">
                    {{ title }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <mat-label i18n="Sign in page| Label login field">
                        Username or email
                    </mat-label>
                    <input matInput formControlName="login" type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label i18n="Sign in page| Label password field">
                        Password
                    </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-checkbox formControlName="rememberMe" class="checkbox-margin"
                    i18n="Sign in page| Label for the checkbox">Remember me
                </mat-checkbox>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/new_password"
                    i18n="Sign in page| Label forget password button redirection">
                    Forgot your password?
                </button>
                <button mat-raised-button color="primary" i18n="Sign in page| Label sign in button redirection">
                    Sign in
                </button>
                <button mat-button color="primary" routerLink="/sign_up"
                    i18n="Sign in page| Label for the sign in button redirection">
                    Don't have an account yet? Register now
                </button>
            </mat-card-actions>
        </mat-card>

    </form>
</section>