<main class="container" [class.dark-theme]="darkMode.value" [class.is-mobile]="matches">
  <mat-progress-bar [mode]="progressMode" value="100"></mat-progress-bar>
  <mat-toolbar color="primary" class="toolbar">
    <button [attr.aria-label]="btnAriaLabelSideNav" mat-icon-button (click)="snav.toggle()">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>
    <img src="assets/icons/android-icon-48x48.png" alt="Angular X Starter Logo png" />
    <h1 class="app-name">{{ title }}</h1>
    <span class="spacer"></span>
    <div *ngIf="!matches">
      <a mat-button routerLink="sign_up" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the register page">Register</a>
      <a mat-button routerLink="sign_in" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the sign-in page">Sign-in</a>
      <mat-divider></mat-divider>
    </div>
    <form [formGroup]="themeForm" (ngSubmit)="changeTheme()" ngNativeValidate>
      <mat-slide-toggle [attr.aria-label]="btnAriaLabelToggleDarkMode" (change)="changeTheme()"
        formControlName="darkMode">
        <mat-icon [color]="darkMode.value ? 'accent' :''" aria-hidden="true">brightness_3</mat-icon>
      </mat-slide-toggle>
    </form>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="matches ? 56 : 0">
    <mat-sidenav #snav [opened]="matches ? false : true" [mode]="matches ? 'over' : 'side'" [fixedInViewport]="matches"
      fixedTopGap="56">

      <mat-nav-list>
        <a mat-list-item routerLink="docs/presentation" i18n="site navigation|Link to the docs presentation page"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Présentation</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="docs/start" i18n="site navigation|Link to the getting started page"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Getting
          started</a>
        <a mat-list-item routerLink="docs/pwa" i18n="site navigation|Link to the progressive web app documentation page"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Progressive Web App</a>
        <a mat-list-item routerLink="docs/ssr"
          i18n="site navigation|Link to the server side rendering documentation page" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:
          true}">Server Side Rendering</a>
        <a mat-list-item routerLink="docs/seo"
          i18n="site navigation|Link to the search engine optimization documentation page" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:
          true}">Search Engine Optimization</a>
        <div *ngIf="matches">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="sign_up" i18n="site navigation|Link to the register page"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Register</a>
          <a mat-list-item routerLink="sign_in" i18n="site navigation|Link to the sign-in page"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Sign-in</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #scrollContent>
      <app-ui-breadcrumb></app-ui-breadcrumb>
      <router-outlet></router-outlet>
      <app-ui-footer></app-ui-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


</main>