<main class="container" [class.dark-theme]="darkMode" [class.is-mobile]="matches">
  <mat-progress-bar [mode]="progressMode" value="100"></mat-progress-bar>
  <mat-toolbar color="primary" class="toolbar">
    <button [attr.aria-label]="btnAriaLabelSideNav" mat-icon-button (click)="snav.toggle()">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>
    <img src="assets/icons/android-icon-48x48.png" alt="Angular X Starter Logo png" />
    <h1 class="app-name">{{ title }}</h1>
    <span class="spacer"></span>
    <div *ngIf="!matches">
      <a mat-button routerLink="sign_up" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the register page">Register</a>
      <a mat-button routerLink="sign_in" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the sign-in page">Sign-in</a>
    </div>
    <form [formGroup]="themeForm" (ngSubmit)="changeTheme()" ngNativeValidate>
      <mat-slide-toggle [attr.aria-label]="btnAriaLabelToggleDarkMode" (change)="changeTheme()"
        formControlName="darkMode">
        <mat-icon [color]="darkMode ? 'accent' :''" aria-hidden="true">brightness_3</mat-icon>
      </mat-slide-toggle>
    </form>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="matches ? 56 : 0">
    <mat-sidenav #snav [mode]="matches ? 'over' : 'side'" [fixedInViewport]="matches" fixedTopGap="56">
      <mat-nav-list>
        <div *ngIf="matches">
          <a mat-list-item routerLink="sign_up" i18n="site navigation|Link to the register page">Register</a>
          <a mat-list-item routerLink="sign_in" i18n="site navigation|Link to the sign-in page">Sign-in</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #scrollContent>
      <router-outlet></router-outlet>
      <app-ui-footer></app-ui-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


</main>