<main class="container" [class.dark-theme]="darkMode" [class.is-mobile]="matches">
  <mat-progress-bar [mode]="progressMode" value="100"></mat-progress-bar>
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{ title }}</h1>
    <span class="spacer"></span>
    <div *ngIf="!matches">
      <a mat-button routerLink="sign_up" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the register page">Register</a>
      <a mat-button routerLink="sign_in" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:
        true}" i18n="site navigation|Link to the sign-in page">Sign-in</a>
    </div>
    <form [formGroup]="themeForm" (ngSubmit)="changeTheme()" ngNativeValidate>
      <mat-slide-toggle (change)="changeTheme()" formControlName="darkMode">
        <mat-icon [color]="darkMode ? 'accent' :''">brightness_3</mat-icon>
      </mat-slide-toggle>
    </form>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="matches ? 56 : 0">
    <mat-sidenav #snav [mode]="matches ? 'over' : 'side'" [fixedInViewport]="matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div *ngIf="matches">
          <a mat-list-item routerLink="sign_up" i18n="site navigation|Link to the register page">Register</a>
          <a mat-list-item routerLink="sign_in" i18n="site navigation|Link to the sign-in page">Sign-in</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #scrollContent>
      <router-outlet></router-outlet>
      <footer>
        <hr>
        <a href="https://github.com/high54/angular-x-starter" rel="noopener noreferrer" mat-button target="_blank">©
          2020 Angular X
          Starter.</a> <a mat-button routerLink="policies/privacy">Règles de confidentialité</a> - <a mat-button
          routerLink="policies/terms">Conditions d'utilisation</a>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


</main>